.checkout-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.checkout-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.checkout-list {
  flex: 3;
}

.checkout-item {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.checkout-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.checkout-summary {
  flex: 1;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
}

.place-order-button {
  margin-top: 10px;
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
