.dropdown-container {
  padding: 10px;
}
.menu-grid {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.category-column {
  display: flex;
  flex-direction: column;
  min-width: 140px;
}

.category-title {
  font-weight: bold;
  text-transform: uppercase;
}

.sub-category-item {
  margin-left: 10px;
  margin-bottom: 4px;
  font-size: 14px;
  padding: 2px 10px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;
}

.sub-category-item:hover {
  background-color: #ebebeb;
  transform: translateX(5px) scale(1.02);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: #aeaeae;
}


.category-image {
  width: 100%;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.category-preview-img {
  max-height: 250px;
  object-fit: contain;
}
